{% extends 'base.html.twig' %}

{% block title %}Gestion des chatons en BDD{% endblock %}

{% block body %}
    <h1>Gestion des chatons en BDD</h1>
    <table class="table table-striped">
        <tr>
            <th>Titre</th>
            <th>Description</th>
            <th></th>
        </tr>
        {% for c in categories %}
            <tr>
                <td>{{ c.titre }}</td>
                <td>{{ c.description }}</td>
                <td>
                    <a href="{{ path("app_categories_modifier", {"id": c.id}) }}" class="btn btn-primary">modifier</a>
                    <a href="{{ path("app_categories_supprimer", {"id": c.id}) }}" class="btn btn-danger">supprimer</a>
                    <a href="{{path("app_chatons_voir",{"idCategorie":c.id})}}" class="btn btn-warning">chatons</a>
                </td>
            </tr>
        {% endfor %}
    </table>
    <a href="{{path("app_categories_ajouter")}}" class="btn btn-success">Ajouter une catégorie</a>
{% endblock %}
